Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-15, project-config-bindep-fallback-ubuntu-xenial, openstacksdk-ansible-stable-2.6-functional-devstack, shade-ansible-stable-2.5-functional-devstack, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, infra-prod-service-nameserver, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3

promote-openstack-releasenotes:
  parent: opendev-promote-docs-base
  description: 'Promote the results of build-openstack-releasenotes to
  
    /afs/.openstack.org/docs/releasenotes/{{ zuul.project.short_name }}
  
    '
  final: true
  vars:
    download_artifact_job: build-openstack-releasenotes
  secrets:
  - secret: afsdocs_secret-releasenotes
  ...

check-release-approval:
  description: 'Checks that release requests were approved by PTL or release liaison.
  
  
    This job is specific to the openstack/releases repository.
  
    '
  allowed-projects:
  - openstack/releases
  required-projects:
  - name: openstack/governance
  run: playbooks/check-release-approval/run.yaml
  final: true
  ...

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-15:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 15.
  
    '
  nodeset: opensuse-15

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

openstacksdk-ansible-stable-2.6-functional-devstack:
  branches: stable-2.6

shade-ansible-stable-2.5-functional-devstack:
  branches: stable-2.5

system-config-build-image-gerrit-base:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-python-builder-3.7
    soft: true

system-config-build-image-gerrit-2.13:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-python-builder-3.7
    soft: true
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-build-image-gerrit-2.15:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-build-image-gerrit-2.16:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

Revert "Wheel publish jobs: include system-config roles"
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

gerritbot: more notifications in the cinder channel
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

gerritbot: more notifications in the oslo channel
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add openstack/magnum and openstack/magnum-tempest-plugin in required-projects
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Deprecate Paunch
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Install git-review under python3 for proposed updates
  playbooks/proposal/pre.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Don't release centos7 aarch64 volume
  playbooks/wheel/release.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use https apt mirrors for image builds
  nodepool/nb03.openstack.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add centos-7 plain nodes
  nodepool/nl01.openstack.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add github sync job for tricircle
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix wrong refstack gerrit ACL
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add vexxhost/atmosphere
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Create a new project for recordsansible/ara-collection
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add missing project to Airship doc job
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire Tricircle projects: finish infra todo
  gerrit/acls/openstack/python-tricircleclient.config
  gerrit/acls/openstack/tricircle.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Turn -plain nodes down to min-ready 0
  nodepool/nl01.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove plain images
  nodepool/nl01.openstack.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add noop-jobs for neutron-fwaas and neutron-fwaas-dashboard projects
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Readd publish-to-pypi for neutron-fwaas and dashboard
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

paunch: don't run publish-to-pypi template
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Deprecate Paunch"
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Replace build-sphinx-docs jobs
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Ensure pip is installed for propose-update-constraints
  playbooks/proposal/pre.yaml
  playbooks/pti-python-tarball/pre.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add vexxhost/ansible-role-frrouting
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

[Grafana] Update label of neutron-functional-with-uwsgi job
  grafana/neutron.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add openstack-ansible-os_adjutant repo
  gerrit/acls/openstack/openstack-ansible-os_adjutant.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add os_adjutant zuul project
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

End project gating on openstack/mox3
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Complete retirement of mox3
  gerrit/acls/openstack/mox3.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

publish-openstack-python-branch-tarball: use py3
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix translation jobs
  playbooks/translation/pre.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add ensure-tox to pti-python-tarball
  playbooks/pti-python-tarball/pre.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Backport-Candidate label for oslo deliverables
  gerrit/acls/openstack/automaton.config
  gerrit/acls/openstack/castellan.config
  gerrit/acls/openstack/debtcollector.config
  gerrit/acls/openstack/futurist.config
  gerrit/acls/openstack/oslo.cache.config
  gerrit/acls/openstack/oslo.concurrency.config
  gerrit/acls/openstack/oslo.config
  gerrit/acls/openstack/oslo.db.config
  gerrit/acls/openstack/oslo.i18n.config
  gerrit/acls/openstack/oslo.limit.config
  gerrit/acls/openstack/oslo.messaging.config
  gerrit/acls/openstack/oslo.middleware.config
  gerrit/acls/openstack/oslo.policy.config
  gerrit/acls/openstack/oslo.privsep.config
  gerrit/acls/openstack/oslo.reports.config
  gerrit/acls/openstack/oslo.rootwrap.config
  gerrit/acls/openstack/oslo.service.config
  gerrit/acls/openstack/oslo.upgradecheck.config
  gerrit/acls/openstack/oslo.versionedobjects.config
  gerrit/acls/openstack/oslo.vmware.config
  gerrit/acls/openstack/osprofiler.config
  gerrit/acls/openstack/stevedore.config
  gerrit/acls/openstack/taskflow.config
  gerrit/acls/openstack/tooz.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Reduce max servers on OE - air handler needs repairs
  nodepool/nl02.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire the puppet-congress project - Step 1 End Project Gating
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire the puppet-congress project - Step 3 Remove project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Try set explicit datasource on the OVH dashboard
  grafana/nodepool-ovh.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix wheel release playbook
  playbooks/wheel/release.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-15: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstacksdk-ansible-stable-2.6-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  shade-ansible-stable-2.5-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-2.13: any of: ^.*$
  system-config-build-image-gerrit-2.15: any of: ^.*$
  system-config-build-image-gerrit-2.16: any of: ^.*$
  system-config-build-image-gerrit-3.0: any of: ^.*$
  system-config-build-image-gerrit-master: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-2.13: any of: ^.*$
  system-config-upload-image-gerrit-2.15: any of: ^.*$
  system-config-upload-image-gerrit-2.16: any of: ^.*$
  system-config-upload-image-gerrit-3.0: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-2.13: any of: ^.*$
  system-config-promote-image-gerrit-2.15: any of: ^.*$
  system-config-promote-image-gerrit-2.16: any of: ^.*$
  system-config-promote-image-gerrit-3.0: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  legacy-tempest-dsvm-networking-onos: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-neutron-ipv6only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-serviceipv6: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-ovs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-puppet-midonet-puppet-unit-4.5-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-midonet-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  zuul-migrate: any of: zuul/mapping.yaml
