Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-15, project-config-bindep-fallback-ubuntu-xenial, openstacksdk-ansible-stable-2.6-functional-devstack, shade-ansible-stable-2.5-functional-devstack, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, infra-prod-service-nameserver, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-15: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstacksdk-ansible-stable-2.6-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  shade-ansible-stable-2.5-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-2.13: any of: ^.*$
  system-config-build-image-gerrit-2.15: any of: ^.*$
  system-config-build-image-gerrit-2.16: any of: ^.*$
  system-config-build-image-gerrit-3.0: any of: ^.*$
  system-config-build-image-gerrit-master: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-2.13: any of: ^.*$
  system-config-upload-image-gerrit-2.15: any of: ^.*$
  system-config-upload-image-gerrit-2.16: any of: ^.*$
  system-config-upload-image-gerrit-3.0: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-2.13: any of: ^.*$
  system-config-promote-image-gerrit-2.15: any of: ^.*$
  system-config-promote-image-gerrit-2.16: any of: ^.*$
  system-config-promote-image-gerrit-3.0: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  legacy-tempest-dsvm-networking-onos: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-neutron-ipv6only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-serviceipv6: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-ovs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-puppet-midonet-puppet-unit-4.5-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-midonet-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  zuul-migrate: any of: zuul/mapping.yaml

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Run accessbot script on accessbot channels update
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use zuul deployment keys for yaml2ical
  playbooks/yaml2ical/post.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire i18n-specs repo
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Enable promote to unarchive gz archives in addition to bz2
  playbooks/api-jobs/promote.yaml
  playbooks/service-types/promote.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix i18n-specs jobs
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire airship-in-a-bottle: end project gating
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Finish retiring i18n-specs
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Move Ubuntu builds away from nb04"
  nodepool/nb04.opendev.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add core group for python-keystoneclient
  gerrit/acls/openstack/python-keystoneclient.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Cache cirros UEC images
  nodepool/elements/cache-devstack/source-repository-images
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add tripleo-ci-shared-core group
  gerrit/acls/openstack/openstack-tempest-skiplist.config
  gerrit/acls/openstack/tripleo-ci-shared-core.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Include octavia files when updating branch constraints
  roles/copy-release-tools-scripts/files/release-tools/functions
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Start building focal images
  nodepool/nb04.opendev.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nb03 : update to arm64 to inheritance, drop pip-and-virtualenv
  nodepool/nb03.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add ansible role for managing Luna SA HSM
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Airship subproject documentation job
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire openstack/networking-ovn repository
  gerrit/projects.yaml
  zuul.d/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove the networking-ovn grafana dashboard
  grafana/networking-ovn.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire airship-in-a-bottle
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Disable ovn pypi jobs temporarily
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Disable ovn pypi jobs temporarily"
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix some config errors in zuul-tenant
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Define stable cores for horizon plugins in neutron stadium
  gerrit/acls/openstack/neutron-fwaas-dashboard.config
  gerrit/acls/openstack/neutron-vpnaas-dashboard.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Launch focal nodes
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Run the zuul service playbook on tenant changes
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove tumbleweed-plain images
  nodepool/nb04.opendev.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Activate more plain nodes
  nodepool/nl01.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add vexxhost/google-directory-api-linux-agent
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Github mirroring job to all official repos
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

infra-package-needs: drop ntp for Focal
  nodepool/elements/infra-package-needs/pkg-map
  nodepool/elements/infra-package-needs/post-install.d/80-enable-infra-services
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add mirroring for SIG and other misc repos
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Create ansible-role-boto3 project
  gerrit/acls/windmill/ansible-role-boto3.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add semaphore to publish-tox-docs-releases job
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove zuul-jobs notification from #openstack-infra
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Clean up unused IRC channels
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Create new project for OpenDev Engagement Stats
  gerrit/acls/opendev/engagement.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add the Gerrit reviewers plugin repository to Zuul
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix irc-meetings publishing
  playbooks/yaml2ical/post.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src
