Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-15, project-config-bindep-fallback-ubuntu-xenial, openstacksdk-ansible-stable-2.6-functional-devstack, shade-ansible-stable-2.5-functional-devstack, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, infra-prod-service-nameserver, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3

promote-openstack-releasenotes:
  parent: opendev-promote-docs-base
  description: 'Promote the results of build-openstack-releasenotes to
  
    /afs/.openstack.org/docs/releasenotes/{{ zuul.project.short_name }}
  
    '
  final: true
  vars:
    download_artifact_job: build-openstack-releasenotes
  secrets:
  - secret: afsdocs_secret-releasenotes
  ...

check-release-approval:
  description: 'Checks that release requests were approved by PTL or release liaison.
  
  
    This job is specific to the openstack/releases repository.
  
    '
  allowed-projects:
  - openstack/releases
  required-projects:
  - name: openstack/governance
  run: playbooks/check-release-approval/run.yaml
  final: true
  ...

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-15:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 15.
  
    '
  nodeset: opensuse-15

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

openstacksdk-ansible-stable-2.6-functional-devstack:
  branches: stable-2.6

shade-ansible-stable-2.5-functional-devstack:
  branches: stable-2.5

system-config-build-image-gerrit-base:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-python-builder-3.7
    soft: true

system-config-build-image-gerrit-2.13:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-python-builder-3.7
    soft: true
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-build-image-gerrit-2.15:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-build-image-gerrit-2.16:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

Replace old Ussuri cycle signing key with Victoria
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Allow ansible-collections-openstack-release team to push tags
  gerrit/acls/openstack/ansible-collections-openstack.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

build and publish wheels for more distributions (x86-64)
  playbooks/wheel/release.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add openstack/heat and openstack/heat-tempest-plugin
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire pabelanger as infra-root
  accessbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add publish-to-pypi to ansible-config_template
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix sphinx playbook: install-if-python was renamed
  playbooks/sphinx/run.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove check/gate jobs for x/packstack
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update pip output parsing to fix wheel mirror builds
  roles/build-wheels/files/wheel-build.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Match Debian in AFS slug generation
  playbooks/publish/wheel-mirror.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

AFS grafana : add wheel volumes
  grafana/afs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

build and publish wheels for aarch64 architecture
  playbooks/wheel/release.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove gate/check jobs for cloudpulse and cloudpulseclient
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Project creation request: airship/charts
  gerrit/acls/airship/charts.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Don't install python-dev on focal
  nodepool/elements/infra-package-needs/pkg-map
  tox.ini
Due: promote-openstack-releasenotes, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Try using vexxhost CA region
  nodepool/nl03.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Encrease vexxhost CA region presence
  nodepool/nl03.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

wheel-build: remove centos-7-arm jobs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add root_marker_dir for releasenotes publish
  playbooks/publish/releasenotes.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Replace vexxhost sjc1 with ca region
  nodepool/nl03.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add no-op jobs for Congress preparatory to retirement
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire the Congress project
  gerrit/acls/openstack/congress-specs.config
  gerrit/acls/openstack/congress.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Restrict wheel publish jobs
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Reparent wheel-mirror jobs to new openstack-zuul-jobs versions
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move wheel build role/job outside project-config
  playbooks/wheel/build.yaml
  playbooks/wheel/post-base.yaml
  playbooks/wheel/pre.yaml
  roles/build-wheels/README.rst
  roles/build-wheels/files/wheel-build.sh
  roles/build-wheels/tasks/main.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Adding elastic/kibana repository
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update Octavia grafana dashboard
  grafana/octavia.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Stop to use the __future__ module.
  docs-site/generate_infra_index.py
  nodepool/elements/openstack-repos/extra-data.d/50-create-repo-list
  roles/copy-release-tools-scripts/files/release-tools/launchpad_add_comment.py
  specs/generate_specs_site.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Prepare to retire swift-specs
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire swift-specs
  gerrit/acls/openstack/swift-specs.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove periodic openafs jobs
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix devstack's review-priority label
  gerrit/acls/openstack/devstack.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Backport-Candidate label for Kolla deliverables
  gerrit/acls/openstack/kayobe.config
  gerrit/acls/openstack/kolla-ansible.config
  gerrit/acls/openstack/kolla.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire more opendev puppet modules
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Finish retiring unused puppet modules
  gerrit/acls/opendev/puppet-accessbot.config
  gerrit/acls/opendev/puppet-ansible.config
  gerrit/acls/opendev/puppet-cgit.config
  gerrit/acls/opendev/puppet-drupal.config
  gerrit/acls/opendev/puppet-etherpad_lite.config
  gerrit/acls/opendev/puppet-exim.config
  gerrit/acls/opendev/puppet-gerrit.config
  gerrit/acls/opendev/puppet-gerritbot.config
  gerrit/acls/opendev/puppet-github.config
  gerrit/acls/opendev/puppet-infracloud.config
  gerrit/acls/opendev/puppet-ipsilon.config
  gerrit/acls/opendev/puppet-iptables.config
  gerrit/acls/opendev/puppet-os_client_config.config
  gerrit/acls/opendev/puppet-packagekit.config
  gerrit/acls/opendev/puppet-phabricator.config
  gerrit/acls/opendev/puppet-snmpd.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use python 3 venv for generate-constraints
  playbooks/proposal/propose_update.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Be more explicit about using python3 to run tools/
  tools/add-projects-to-main.py
  tools/batch_update_projects.py
  tools/check_gerrit_projects_changed.py
  tools/check_gerrit_projects_changed.sh
  tools/check_irc_access.py
  tools/check_valid_gerrit_projects.py
  tools/ci2project.py
  tools/fix-neutron-stadium.py
  tools/irc_tests.py
  tools/normalize_acl.py
  tools/normalize_channels_yaml.py
  tools/normalize_projects_yaml.py
  tools/zuul-projects-checks.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Drop pip-and-virtualenv from images
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Rename interop repos from openstack/ to osf/ namespace
  gerrit/acls/osf/interop.config
  gerrit/acls/osf/python-tempestconf.config
  gerrit/acls/osf/refstack.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Wheel publish jobs: include system-config roles
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-15: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstacksdk-ansible-stable-2.6-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  shade-ansible-stable-2.5-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-2.13: any of: ^.*$
  system-config-build-image-gerrit-2.15: any of: ^.*$
  system-config-build-image-gerrit-2.16: any of: ^.*$
  system-config-build-image-gerrit-3.0: any of: ^.*$
  system-config-build-image-gerrit-master: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-2.13: any of: ^.*$
  system-config-upload-image-gerrit-2.15: any of: ^.*$
  system-config-upload-image-gerrit-2.16: any of: ^.*$
  system-config-upload-image-gerrit-3.0: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-2.13: any of: ^.*$
  system-config-promote-image-gerrit-2.15: any of: ^.*$
  system-config-promote-image-gerrit-2.16: any of: ^.*$
  system-config-promote-image-gerrit-3.0: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  legacy-tempest-dsvm-networking-onos: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-neutron-ipv6only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-serviceipv6: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-ovs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-puppet-midonet-puppet-unit-4.5-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-midonet-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  zuul-migrate: any of: zuul/mapping.yaml
