Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-15, project-config-bindep-fallback-ubuntu-xenial, openstacksdk-ansible-devel-functional-devstack, openstacksdk-ansible-stable-2.6-functional-devstack, shade-ansible-stable-2.5-functional-devstack, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3

promote-openstack-releasenotes:
  parent: opendev-promote-docs-base
  description: 'Promote the results of build-openstack-releasenotes to
  
    /afs/.openstack.org/docs/releasenotes/{{ zuul.project.short_name }}
  
    '
  final: true
  vars:
    download_artifact_job: build-openstack-releasenotes
  secrets:
  - secret: afsdocs_secret-releasenotes
  ...

check-release-approval:
  description: 'Checks that release requests were approved by PTL or release liaison.
  
  
    This job is specific to the openstack/releases repository.
  
    '
  allowed-projects:
  - openstack/releases
  required-projects:
  - name: openstack/governance
  run: playbooks/check-release-approval/run.yaml
  final: true
  ...

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-15:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 15.
  
    '
  nodeset: opensuse-15

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

openstacksdk-ansible-devel-functional-devstack:
  branches: devel

openstacksdk-ansible-stable-2.6-functional-devstack:
  branches: stable-2.6

shade-ansible-stable-2.5-functional-devstack:
  branches: stable-2.5

legacy-tempest-dsvm-networking-onos:
  voting: false

legacy-tempest-dsvm-neutron-ipv6only:
  branches: master

legacy-tempest-dsvm-neutron-serviceipv6:
  branches: master

legacy-tempest-dsvm-nova-libvirt-kvm-apr:
  voting: false

legacy-tempest-dsvm-full-bdd:
  voting: false

manila-tempest-dsvm-glusterfs-nfs:
  branches: ^(?!driverfixes/).*$

manila-tempest-dsvm-glusterfs-native:
  branches: ^(?!driverfixes/).*$

manila-tempest-dsvm-glusterfs-nfs-heketi:
  branches: ^(?!driverfixes/).*$

manila-tempest-dsvm-glusterfs-native-heketi:
  branches: ^(?!driverfixes/).*$

legacy-tempest-dsvm-full-devstack-plugin-nfs:
  voting: false

Fix openstack-manuals sync
  zuul.d/projects.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix afs publishing of translation sources
  playbooks/translation/openstack-translation-artifacts.yaml
  zuul.d/jobs.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix translation-source location
  playbooks/translation/openstack-translation-artifacts.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add publish-to-pypi template for tenks
  zuul.d/projects.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Moving FortNebula to OpenEdge
  grafana/create-nodepool.sh
  grafana/nodepool-openedge.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nodepool.yaml
  zuul/site-variables.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Start minimally using Open Edge environment
  nodepool/nl02.openstack.org.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add vexxhost/lodgeit-helm
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add rss link for cyborg-specs
  specs/specs.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, build-openstack-specs-site, promote-openstack-specs-site, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

New repo: devstack-plugin-open-cas
  gerrit/acls/openstack/devstack-plugin-open-cas.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Setting OpenEdge Provider to 10 test nodes
  nodepool/nl02.openstack.org.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Bumping OpenEdge test node commit to 20
  nodepool/nl02.openstack.org.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix debian-buster partition config
  nodepool/nodepool.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove Fedora 29 from nodepool
  grafana/create-nodepool-dib.sh
  grafana/nodepool-dib.yaml
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove neutron-tempest-dvr job from Neutron's dashboard
  grafana/neutron.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add new Validation Framework projects
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add a new project and repository for tripleo-ipa
  gerrit/acls/x/tripleo-ipa.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix new dib-lint errors
  nodepool/elements/control-plane-minimal/README.rst
  nodepool/elements/infra-package-needs/README.rst
  nodepool/elements/openstack-repos/extra-data.d/50-create-repo-list
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool-elements: Use venv for utilities
  nodepool/elements/infra-package-needs/element-deps
  nodepool/elements/infra-package-needs/install.d/40-install-bindep
  nodepool/elements/nodepool-base/element-deps
  nodepool/elements/nodepool-base/install.d/91-venv-os-testr
  nodepool/nl01.openstack.org.yaml
  nodepool/nodepool.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool-elements: skip tox install with no pip-and-virtualenv
  nodepool/elements/infra-package-needs/install.d/10-pip-packages
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add periodic-weekly pipeline
  zuul.d/pipelines.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add OpenInfra Labs IRC channels to bots
  accessbot/channels.yaml
  gerritbot/channels.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add xstatic-** projects for vitrage-dashboard
  gerrit/acls/openstack/vitrage-dashboard-xstatic.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move fedora-30 builds to nb01.opendev.org
  nodepool/nb01.opendev.org.yaml
  nodepool/nodepool.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Move fedora-30 builds to nb01.opendev.org"
  nodepool/nb01.opendev.org.yaml
  nodepool/nodepool.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Install tox into a virtualenv on our images
  nodepool/elements/infra-package-needs/install.d/40-install-tox
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add fedora-30 to nb01.opendev.org
  nodepool/nb01.opendev.org.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Add fedora-30 to nb01.opendev.org"
  nodepool/nb01.opendev.org.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

add vexxhost/openstack-operator
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Statically cache devstack images and packages
  nodepool/elements/cache-devstack/extra-data.d/50-early-source-repo
  nodepool/elements/cache-devstack/extra-data.d/55-cache-devstack-repos
  nodepool/elements/cache-devstack/extra-data.d/60-rm-early-source-repo
  nodepool/elements/cache-devstack/source-repository-images
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

opendev: move vexxhost to seperate tenant
  zuul/main.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add pip-and-virtualenv to arm64 images
  nodepool/nb03.openstack.org.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Verbosely apply Zuul ssh key in nodepool config
  nodepool/nb03.openstack.org.yaml
  nodepool/nodepool.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

vexxhost: add repos needed for required-projects for devstack
  zuul/main.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

vexxhost: load openstack/tempest jobs
  zuul/main.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove secret import from vexxhost
  zuul/main.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

vexxhost: add oslo required projects for devstack
  zuul/main.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add publish-to-pypi template for ovn-octavia-provider
  zuul.d/projects.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

vexxhost: add openstack/openstack-zuul-jobs
  zuul/main.yaml
Due: project-config-check-main-yaml, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add config for nb04.opendev.org
  nodepool/nb04.opendev.org.yaml
Due: legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-bdd, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-full-devstack-plugin-nfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-15: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstacksdk-ansible-devel-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  openstacksdk-ansible-stable-2.6-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  shade-ansible-stable-2.5-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  legacy-tempest-dsvm-networking-onos: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-neutron-ipv6only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-serviceipv6: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-bdd: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-devstack-plugin-nfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-ovs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-puppet-midonet-puppet-unit-4.5-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-midonet-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  zuul-migrate: any of: zuul/mapping.yaml
